__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
.idea/
.mypy_cache/
.vscode/
диаграммы/
charts/
data/

*.log
*.tmp
*.swp
*.git
*.md

alembic/versions/

test.*
tasks.*
run
rerun
clear_docker
docker_log.txt
.env_scheme
